$color-audiocall-bg: #8fb0a5;
$color-audiocall-yellow: #f7c041;
$color-audiocall-red: #df362f;
$color-audiocall-orange: #de693e;
$color-audiocall-dark-grey: #242833;
$color-audiocall-grey: #466263;
$color-audiocall-light-grey: #90b1a6;


.audio-call-page {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-audiocall-bg;
  .audio-call-page__caption {
    color: #ffffff;
    font-size: 3rem;
  }
  .audio-call-page__desc {
    color: #ffffff;
    font-size: 2rem;
    padding: 0 2rem;
    text-align: center;
  }
  .audio-call-page__warn {
    color: #ffffff;
  }
}

.difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .difficulty__caption {
    font-size: 1.6rem;
    color: $color-audiocall-red;
  }
  .difficulty__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    li {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 1.6rem;
      border: 1px solid $color-audiocall-orange;
      border-radius: 50%;
      background-color: $color-audiocall-yellow;
      cursor: pointer;
      transition: 0.25s;
      &:hover {
      font-size: 1.8rem;
      font-weight: bold;
      border: 2px solid #fff;
      box-shadow: 0 0 10px #fff;
      transition: 0.25s;
      }
    }
    .active {
      font-size: 1.8rem;
      font-weight: bold;
      background-color: $color-audiocall-red;
      border: 0;
      box-shadow: 0 0 7px 5px #fff;
      pointer-events: none;
      cursor: inherit;
      transition: 0.25s;
    }
  }
  .start-audio-call {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: $color-audiocall-orange;
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    border-radius: 25px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      transition: 1s;
    }
    &:disabled {
      background-color: #333333;
      pointer-events: none;
      cursor: inherit;
    }
    &:focus,active {
      background-color: $color-audiocall-red;
      box-shadow: 0 0 7px 5px #fff;
      border: 0;
      transition: 0.25s;
    }
  }
}

.audio-call-game {
  min-height: calc(100vh - 120px);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.audio-call-slide.completed {
  transform: translateX(-100%);
  transition: all 0.8s;
}
.audio-call-slide.hide {
  transform: translateX(100%);
  transition: all 0.8s;
}
.audio-call-slide.done {
  transition: all 0.8s;
  .slide__question {
    .slide__image {
      transition: all 0.8s;
      filter: blur(0);
    }
    .slide__sound {
      span {
        display: block;
      }
    }
  }
}
.audio-call-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.8s;
  .slide__audio-element {
    visibility: hidden;
  }
  .slide__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .slide__image {
      filter: blur(20px);
      width:300px;
      height: 300px;
      transition: all 0.8s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 15px 1px;
      }
   }
    .slide__sound {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      span {
        display: none;
        font-size: 2.5rem;
        color: black;
      }
      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
  .slide__answers {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .slide__answers-row {
      gap: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .slide__answers__item {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
      .slide__answers__item.right {
        background-color: #5fc47d;
        color: #ffffff;
      }
      .slide__answers__item.wrong {
        background-color: $color-audiocall-red;
        color: #ffffff;
      }
    }
  }
  .slide__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    background-color: $color-audiocall-orange;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 25px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      transition: 1s;
      background-color: $color-audiocall-yellow;
    }
    &:disabled {
      background-color: #333333;
      pointer-events: none;
      cursor: inherit;
    }
  }
}
