.burger {
  width: 34px;
  height: 24px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .burger__line {
    display: inline-block;
    background-color: $color-main;
    height: 3px;
    width: 100%
  }
}
@media (max-width: 867px) {
  .burger {
    display: flex;
  }
}
