.auth-panel-container {
  display: flex;
  gap: 10px;
  .navbar-name {
    min-width: 60px;
    text-align: end;
  }
}

.auth-form {
  max-width: 500px;
  padding: 50px;
  text-align: start;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // justify-content: flex-start;


  label {
    display: block;
    margin-top: 20px;

  }

  input {
    // display: block;
    margin: 10px 0;
    width: 100%;
  }
}
.auth__warn {
  color: red;
  visibility: hidden;
}
.auth__warn.show {
  visibility: visible;
}


