header {
  background: $color-bg-2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-size: 1.3em;

  button {
    font-size: 1em;
    line-height: 60px;
    font-weight: bold;
    color: $color-main;
    background-color: transparent;
    border: none;
  }

  button:hover {
    color: $color-hover;
  }
}


