.active {
  color: $color-main;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .navbar {
    min-width: 40%;
    position: absolute;
    top: 60px;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    transform: translateX(calc(-100% - 20px));
    background-color: $color-second;
    opacity: 0.95;
    border-radius: 20px;
    &.show {
      transform: translateX(calc(0% - 20px));
    }
    &:hover {
      transform: translateX(calc(0% - 20px));
    }
    .navbar-item {
      line-height: 50px;
    }
    .navbar-item:not(:last-child) {
      border-bottom: 1px black dashed;
    }
  }
}

.navbar-item {
  position: relative;
  z-index: 10;
  padding: 0 15px;
  line-height: 60px;
  font-weight: bold;
  color: #8D6E63;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-item:hover {
  color: $color-text-modal;
  transition: 0.3s;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.navbar-item:not(:first-child)::after {
  position: absolute;
  content: '';
  left: 15px;
  bottom: 15px;
  height: 2px;
  width: 0;
  background-color: $color-special;
  transition: 0.3s;
}

.navbar-item:hover::after {
  width: calc(100% - 30px);
}

.navbar-logo {
  font-family: 'Allura', cursive;
  font-size: 2em;
}

.navbar-item.disabled {
  pointer-events: none;
  color:rgba(0, 0, 0, 0.3)
}
