@keyframes fromLeft {
  from {
    left: -400%;
  }
  to {
    left: 50%;
  }
}

.modal-active {
  position: absolute;
  min-width: 500px;
  min-height: 500px;
  padding-top: 10px;
  text-align: center;
  animation: fromLeft 0.5s;
  -webkit-animation: fromLeft 0.5s;
  -moz-animation: fromLeft 0.5s;
  -o-animation: fromLeft 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Neucha";
  font-size: 1.3em;
  color: $color-text-modal;
  background: $color-bg-modal;
  backdrop-filter: blur(4px);
  border: 2px solid $color-second;
  border-radius: 15px;
  z-index: 1000;
  box-shadow: 0px 5px 15px 5px rgba(255, 255, 255, 0.418);
}


.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 80px);
  height: 39px;
  margin: 15px 40px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  background-color: #3d0505;
  outline: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  border: 0px solid $color-second;
  cursor: pointer;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.modal-close:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  transition: 1s;
}

.modal-window > *::-webkit-scrollbar {
  width: 10px;
}

.modal-window > *::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 6px;
  border: 3px solid orange;
}

.modal-window > *::-webkit-scrollbar-track {
  background: #333;
  border-radius: 6px;
}
