$color-main: #705f58;
$color-bg: linear-gradient(180deg, #f3eac4,#b3ffdc);
$color-bg-2:linear-gradient(90deg, #f3eac4,#f3cecf);
$color-bg-3: linear-gradient(90deg, #b3ffdc,#8ec6f0);
$color-bg-modal:linear-gradient(90deg, #f3eac48f,#f3cecf96);
$color-text-modal: #3a2c24;
$color-second: #FFFFFF;
$color-hover: #3a2c24;
$color-pink: #E7717D;
$color-light-green: #91bca8;
$color-special: #bd0606;

$color-chapter-1: #DB4C37;
$color-chapter-2: #E67F3D;
$color-chapter-3: #F6D14B;
$color-chapter-4: #AFD275;
$color-chapter-5: #88BDBC;
$color-chapter-6: #2575c0;
$color-chapter-7: rgb(183, 138, 204);
$color-chapter-light-1: #db4d3786;
$color-chapter-light-2: #e67e3d81;
$color-chapter-light-3: #f6d14b83;
$color-chapter-light-4: #aed2757c;
$color-chapter-light-5: #88bdbc7e;
$color-chapter-light-6: #2575c088;
$color-chapter-light-7: rgba(183, 138, 204, 0.493);

$font-main: 'Neucha', cursive;
$font-special: 'Allura', cursive;

