$color-main: #705f58;
$color-bg: linear-gradient(180deg, #f3eac4,#b3ffdc);
$color-bg-2:linear-gradient(90deg, #f3eac4,#f3cecf);
$color-bg-3: linear-gradient(90deg, #b3ffdc,#8ec6f0);
$color-second: #FFFFFF;
$color-hover: #000000;
$color-pink: #E7717D;
$color-light-green: #91bca8;
$color-special: #9b4447;

// $color-bg: linear-gradient(90deg, #ecbea2,#44b8c3);
// background: -webkit-linear-gradient(90deg, #60c1c2,#fabbd7);
// background: linear-gradient(90deg, #60c1c2,#fabbd7);

