.footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 10px;
  min-height: 60px;
  color: $color-main;
}

.footer {

  a {
    font-weight: bold;
    color: $color-main;
    text-decoration: none;
  }

  &__authors-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__github {
    position: relative;
    padding-left: 30px;
  }

  &__github::before {
    position: absolute;
    content: '';
    top: -3px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url('../../assets/svg/github.svg') no-repeat center center;
    background-size: contain;
  }

  &__github:hover {
    color: $color-hover;
    transition: 0.3s;
  }

  &__year {
    justify-self: center;
  }

  &__rsschool {
    justify-self: end;

    img {
      width: 80px;
    }
  }

  &__rsschool:hover {

  }
}

@media (max-width: 920px) {
  .footer .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 10px;
  }

  .footer__authors-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 510px) {
  .footer .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}


.footer {
  background: linear-gradient(90deg, #b3ffdc, #8ec6f0);
  background-size: 400% 400%;

  -webkit-animation: FooterAnim 15s ease infinite;
  -moz-animation: FooterAnim 15s ease infinite;
  -o-animation: FooterAnim 15s ease infinite;
  animation: FooterAnim 15s ease infinite;
}

@-webkit-keyframes FooterAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes FooterAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes FooterAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes FooterAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
