.page-title,
.words-title {
  padding: 20px 0;
  font-size: 32px;
  font-weight: 700;
}

.chapter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 30px;

  input {
    display: none;
  }

  input:checked + label {
    background-color: coral;
  }
}

.chapter-label {
  flex-grow: 1;
  padding: 10px;
  background-color: darkseagreen;
  border-radius: 10px;
  cursor: pointer;
}

.chapter-words-nums {
  font-size: 10px;
}

.pagination {
  // display: flex;
  list-style: none;

  li {
    display: inline-block;
  }

  &__button {
    // padding: 10px;
    height: 38px;
    min-width: 38px;
    cursor: pointer;
    margin-right: 5px;

    &:last-child {
      margin: 0;
    }
  }
}
